html {
  background: url(../images/body.jpg) repeat;
}                                              

body {
  background: url(../images/menu.png) repeat-y scroll top left;
  overflow: auto;              
  color: #333333;
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2", 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;   
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;   
}   

.main {
  position: relative;
  z-index: 100;    
  margin: 32px; 
  float: left;  
  width: 700px;
}

a:hover { text-decoration: none }   

#menu-bg {
  background: url(../images/menu-top.png) no-repeat;
  width: 252px;
  height: 243px; 
  position: absolute; 
}         
  #menu 
  {
    width: 50px;
    float: left;    
    position: relative;
    z-index: 100;      
    margin: 10px -13px 0 13px;       
  
                    a { text-decoration: none; color: #dae2e7; font-size: 16px; margin-bottom: 5px; display: block; }
    a:hover, a.active { color: #40c3dc }

  }          

#sidebar {    
  float: left;
  width: 202px;  
  min-height: 500px;
  background-color: #13111a; 
  color: #ddd9ec;
}     

#logo {
  width: 94px;
  height: 135px;
  background: url(../images/logo.png) no-repeat;     
  position: absolute;
  z-index: 100;     
  bottom: 0px;
  left: 0px;    
  opacity: 0.7;
}      
  #logo:hover { opacity: 1.0 }
  
  
.label-wrap, .sidebar-content 
{
  margin: 0 0 0 -101px;  
  float: left;     
  color: #f5f2ff;     
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
  
  h3.label { display: block; float: left; margin: 16px 0 0 4px; font-size: 14px; line-height: 14px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
     .icon { width: 10px; height: 57px; margin: 0 0 -12px 12px; position: relative; float: right; }   

}      

/* Colors */
    .red, .red:hover { color: #ef5057 }
  .blue, .blue:hover { color: #59ceeb }
.green, .green:hover { color: #4ebd7b }
  .dark, .dark:hover { color: #002e44 }

.stats 
{           
  text-align: right;
  margin-right: 22px;
  font-size: 12px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .stat-label { color: #ddd9ec; display: inline; }
       .value { color: #ff8484; display: inline; }  
}

#contact 
{
  position: relative; 
  text-align: center;    
  
        #contact-details a { font-size: 12px; text-decoration: none; color: #dae2e7; }
  #contact-details a:hover { color: #40c3dc }
       .die-on-hover:hover { font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif }
                    .hover { display: none }
            a:hover .hover { display: block }
                     .info { font-size: 8px; opacity: 0.6; top: -2px; position: relative; }

  
  #contact-details a:hover .info { color: #fefefe; opacity: 1; }  
  
  #contact-details
  {
             .back { text-align: left }
           .back a { font-size: 20px; color: #40c3dc; text-align: left; opacity: 0.6; }
     .back a:hover { opacity: 1.0 }
  }  
}  

       .link_to_top { float: right; line-height: 21px; }
#footer_copy p.copy { float: left }  
  #license_wrap 
  { 
    float: left;
    font-size: 11px; 
    margin-top: 8px;
    p { margin-bottom: 8px; line-height: 18px; }
  }        