@import "partials/base"; 
@import "partials/shared";       
@import "abouticons/*.png";        
@include all-abouticons-sprites;

#sidebar 
{           
  #sidebar-inner {
    position: relative;
    z-index: 100;
  }  
  
  h2 {
    display: block;    
    font-size: 18px;
    line-height: 22px;    
    margin: 12px 0 18px 25px;
  }    
}       

.post h4 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 15px 0 15px;
  text-transform: uppercase; 
}  

.post h1, .post h2, .post h3, .post h4, .post h5 {
  font-family: "ff-meta-web-pro-condensed-1","ff-meta-web-pro-condensed-2", "Museo 300", "Museo300", "Museo-300", "Museo", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Lucida Grande", Helvetica, sans-serif;
}  

p {
  margin: 14px 0;
} 

.post h3 {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 15px 0 10px;
  text-transform: uppercase;  
} 

.post h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 10px;  
} 

#find-me-details
{    
  margin-left: 25px; 
  
  .icon { height: 16px; width: 16px; float: left; margin-top: 3px; }       
  
  li {
    width: 190px;
    float: left;   
    height: 35px;
  } 
  
  a {
    text-decoration: none;
    font-size: 11px;  
    float: left;
    display: block;
    margin-left: 8px;
    color: #ddd9ec;  
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }   
   
  a:hover {
    color: #59ceeb;
  }
}