@import "partials/base";  
@import "partials/shared"; 

                #sidebar { width: 105px }
                #menu-bg { width: 155px }
#about-label-wrap .label { margin: 0px }

#short-about p {
  font-size: 26px;
  font-family: Helvetica, sans-serif;          
  color: #5d686c;  
  line-height: 44px;  
  font-family: "Museo 300", "Museo300", "Museo-300", "Museo", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Lucida Grande", Arial sans-serif;
}  

#recent-posts-wrap { float: left }
        
#recent-posts-label-wrap 
{
  .icon {
    background: url(../images/blue-tag.png) no-repeat;          
  }
}   

#more-posts {   
  text-align: right;
  margin: 50px 0 0 0px;
  float: right;     
  position: relative;
  right: 22px;
  font-size: 13px;
  color: #b6b2c5;        
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

.main, #recent-posts {
  width: 600px; 
}  

@media screen and (min-width: 1015px) {  
  .main, #recent-posts {
    width: 860px; 
  }
} 

#recent-posts
{   
  margin: 12px 0 0 32px;
  
  .post {   
    border-bottom: 1px solid #ececec; 
    width: 100%; 
    font-size: 31px;  
    padding-bottom: 12px;
  }  
   
  .date {
    color: #787878;  
    float: left; 
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;     
    padding-right: 2px;
  }
    
           a { color: #59ceeb; text-decoration: none; display: block; }
  a h2.title { font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; }
     a:hover { color: #787878 }
}    